mixin b-about()
  .b-about
    .container
      .ui-label делаем
      .b-about__info.lead Полный комплекс услуг, позволяющий крупным
        span.text-primary
          span.text-nowrap  e-commerce
          |  проектам
        |  увеличивать свой объем бизнеса и повышать качество сервиса
    img.img-fluid(src="assets/media/content/b-about/img-1.jpg", alt="Команда")


  // end .b-about


