mixin b-case()
  .b-case-group
    .b-case-filter
      .b-case-filter__item.dropdown
        button.b-case-filter__trigger.dropdown-toggle#dropdownServices(type="button" data-toggle="dropdown" aria-expanded="false"  aria-haspopup="true") по услуге
        .b-case-filter__body.dropdown-menu(aria-labelledby="dropdownServices")
          a.b-case-filter__link.dropdown-item(href="#") 1c-bitrix
          a.b-case-filter__link.dropdown-item(href="#") shop-script
          a.b-case-filter__link.dropdown-item(href="#") prestashop

      .b-case-filter__item.dropdown
        button.b-case-filter__trigger.dropdown-toggle#dropdownPlatform(type="button" data-toggle="dropdown" aria-expanded="false"  aria-haspopup="true") по платформе
        .b-case-filter__body.dropdown-menu(aria-labelledby="dropdownPlatform")
          a.b-case-filter__link.dropdown-item(href="#") 1c-bitrix
          a.b-case-filter__link.dropdown-item(href="#") shop-script
          a.b-case-filter__link.dropdown-item(href="#") prestashop

      .b-case-filter__item.dropdown
        button.b-case-filter__trigger.dropdown-toggle#dropdownTechnology(type="button" data-toggle="dropdown" aria-expanded="false"  aria-haspopup="true") по технологии
        .b-case-filter__body.dropdown-menu(aria-labelledby="dropdownTechnology")
          a.b-case-filter__link.dropdown-item(href="#") 1c-bitrix
          a.b-case-filter__link.dropdown-item(href="#") shop-script
          a.b-case-filter__link.dropdown-item(href="#") prestashop

      .b-case-filter__item.dropdown
        button.b-case-filter__trigger.dropdown-toggle#dropdownCustomers(type="button" data-toggle="dropdown" aria-expanded="false"  aria-haspopup="true") по клиентам
        .b-case-filter__body.dropdown-menu(aria-labelledby="dropdownCustomers")
          a.b-case-filter__link.dropdown-item(href="#") 1c-bitrix
          a.b-case-filter__link.dropdown-item(href="#") shop-script
          a.b-case-filter__link.dropdown-item(href="#") prestashop


    .b-case.row
      .col-md-7
        .b-case__img
          img.img-scale(src="assets/media/content/b-case/1.jpg", alt="photo")
      .col-md-5
        .b-case__main
          a.b-case__title.ui-title-inner(href="#") Ускорили фильтр каталога для крупнейшего интернет магазина печей
          a.b-case__link(href="#") Печь.ру
          ul.ui-tag-list-2.list-unstyled
            li.ui-tag-list-2__item 1c-bitrix
            li.ui-tag-list-2__item shop-script
            li.ui-tag-list-2__item prestashop
            li.ui-tag-list-2__item oscommerc
            li.ui-tag-list-2__item yandex.money
            li.ui-tag-list-2__item boxberry
            li.ui-tag-list-2__item.ui-tag-list-2__item_dots

    .b-case.row
      .col-md-7
        .b-case__img
          img.img-scale(src="assets/media/content/b-case/2.jpg", alt="photo")
      .col-md-5
        .b-case__main
          a.b-case__title.ui-title-inner(href="#") Разработка модуля по доставке товара
          a.b-case__link(href="#") Почта России
          ul.ui-tag-list-2.list-unstyled
            li.ui-tag-list-2__item 1c-bitrix
            li.ui-tag-list-2__item shop-script
            li.ui-tag-list-2__item prestashop
            li.ui-tag-list-2__item oscommerc
            li.ui-tag-list-2__item yandex.money
            li.ui-tag-list-2__item boxberry
            li.ui-tag-list-2__item.ui-tag-list-2__item_dots

    a.btn-link(href="#") Показать все кейсы


  // end .b-case
  |
  |


