mixin b-main-slider()

  #main-slider.b-main-slider.slider-pro(
    data-slider-width="100%"
    data-slider-height="100vh"
    data-slider-arrows="true"
    data-slider-buttons="true")

    .sp-slides
      // Slide 1
      .b-main-slider__slide.sp-slide
        .b-main-slider__category-wrap.sp-layer(data-width="100%" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="400" data-hide-delay="400")
          .b-main-slider__category
            span.b-main-slider__category-in E-commerce

        .b-main-slider__title-wrap.sp-layer(data-width="100%" data-show-transition="up" data-position="bottomLeft" data-hide-transition="up" data-show-duration="800" data-show-delay="800" data-hide-delay="400")
          .b-main-slider__title Доработка сложных
            span.text-primary  интернет-магазинов и&nbsp;сервисов

        .b-main-slider__img-wrap.sp-layer(data-width="45%" data-position="bottomRight" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="1200" data-hide-delay="400")
          .b-main-slider__img
            img.img-scale(src="assets/media/content/b-main-slider/fig-2.png", alt="Photo")


      // Slide 2
      .b-main-slider__slide.sp-slide
        .b-main-slider__category-wrap.sp-layer(data-width="100%" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="400" data-hide-delay="400")
          .b-main-slider__category
            span.b-main-slider__category-in Service

        .b-main-slider__title-wrap.sp-layer(data-width="100%" data-show-transition="up" data-position="bottomLeft" data-hide-transition="up" data-show-duration="800" data-show-delay="800" data-hide-delay="400")
          .b-main-slider__title Доработка сложных
            span.text-primary  интернет-магазинов и&nbsp;сервисов

        .b-main-slider__img-wrap.sp-layer(data-width="45%" data-position="bottomRight" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="1200" data-hide-delay="400")
          .b-main-slider__img
            img.img-scale(src="assets/media/content/b-main-slider/fig-2.png", alt="Photo")


      // Slide 3
      .b-main-slider__slide.sp-slide
        .b-main-slider__category-wrap.sp-layer(data-width="100%" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="400" data-hide-delay="400")
          .b-main-slider__category
            span.b-main-slider__category-in Support

        .b-main-slider__title-wrap.sp-layer(data-width="100%" data-show-transition="up" data-position="bottomLeft" data-hide-transition="up" data-show-duration="800" data-show-delay="800" data-hide-delay="400")
          .b-main-slider__title Доработка сложных
            span.text-primary  интернет-магазинов и&nbsp;сервисов


        .b-main-slider__img-wrap.sp-layer(data-width="45%" data-position="bottomRight" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="1200" data-hide-delay="400")
          .b-main-slider__img
            img.img-scale(src="assets/media/content/b-main-slider/fig-3.png", alt="Photo")


      // Slide 4
      .b-main-slider__slide.sp-slide
        .b-main-slider__category-wrap.sp-layer(data-width="100%" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="400" data-hide-delay="400")
          .b-main-slider__category
            span.b-main-slider__category-in Development

        .b-main-slider__title-wrap.sp-layer(data-width="100%" data-show-transition="up" data-position="bottomLeft" data-hide-transition="up" data-show-duration="800" data-show-delay="800" data-hide-delay="400")
          .b-main-slider__title Доработка сложных
            span.text-primary  интернет-магазинов и&nbsp;сервисов


        .b-main-slider__img-wrap.sp-layer(data-width="45%" data-position="bottomRight" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="1200" data-hide-delay="400")
          .b-main-slider__img
            img.img-scale(src="assets/media/content/b-main-slider/fig-4.png", alt="Photo")


      // Slide 5
      .b-main-slider__slide.sp-slide
        .b-main-slider__category-wrap.sp-layer(data-width="100%" data-show-transition="up" data-hide-transition="up" data-show-duration="800" data-show-delay="400" data-hide-delay="400")
          .b-main-slider__category
            span.b-main-slider__category-in Not found

        .b-main-slider__title-wrap.sp-layer(data-width="100%" data-show-transition="up" data-position="bottomLeft" data-hide-transition="up" data-show-duration="800" data-show-delay="800" data-hide-delay="400")
          .b-main-slider__title Наш робот не нашел такую страницу
            a.text-primary(href="#")  вернемся на главную?


  // end .b-main-slider
  |
  |
