mixin b-vacancy()
  section.section-default
    .container
      .ui-header
        .ui-title-group.row.align-items-xl-baseline.align-items-end
          .col-md
            h2.ui-title Открытые
              span.text-primary  вакансии
          .col-auto
            .ui-category Вакансии
              span.ui-category__total 02

      .b-vacancy
        span.b-vacancy__label Full-time
        h3.b-vacancy__title.ui-title-inner Backend-разработчик
          span.text-primary  {Bitrix}
        .b-vacancy__info Зарплата по итогам собеседования
        .b-vacancy__footer
          ul.b-vacancy__tags-list.list-unstyled
            li.b-vacancy__tags-item 1c-bitrix
            li.b-vacancy__tags-item shop-script
            li.b-vacancy__tags-item prestashop
            li.b-vacancy__tags-item oscommerc
            li.b-vacancy__tags-item yandex.money
            li.b-vacancy__tags-item boxberry
            li.b-vacancy__tags-item memcached
            li.b-vacancy__tags-item.b-vacancy__tags-item_dots

      .b-vacancy
        span.b-vacancy__label Full-time
        h3.b-vacancy__title.ui-title-inner Frontend разработчик {React}
          span.text-primary  {Bitrix}
        .b-vacancy__info от 30 000 руб.
        .b-vacancy__footer
          ul.b-vacancy__tags-list.list-unstyled
            li.b-vacancy__tags-item 1c-bitrix
            li.b-vacancy__tags-item shop-script
            li.b-vacancy__tags-item prestashop
            li.b-vacancy__tags-item oscommerc
            li.b-vacancy__tags-item yandex.money
            li.b-vacancy__tags-item boxberry
            li.b-vacancy__tags-item memcached
            li.b-vacancy__tags-item.b-vacancy__tags-item_dots

      .b-vacancy
        span.b-vacancy__label Full-time
        h3.b-vacancy__title.ui-title-inner Тестировщик
          span.text-primary  {Bitrix}
        .b-vacancy__info Зарплата по итогам собеседования
        .b-vacancy__footer
          ul.b-vacancy__tags-list.list-unstyled
            li.b-vacancy__tags-item 1c-bitrix
            li.b-vacancy__tags-item shop-script
            li.b-vacancy__tags-item prestashop
            li.b-vacancy__tags-item oscommerc
            li.b-vacancy__tags-item yandex.money
            li.b-vacancy__tags-item boxberry
            li.b-vacancy__tags-item memcached
            li.b-vacancy__tags-item.b-vacancy__tags-item_dots

      .b-vacancy__lead.lead Интересных проектов становится больше, и наша команда продолжает расти. Если не нашли подходящую вакансию —
        |
        |
        a(href="mailto:mail") пишите.

  // end .b-vacancy
  |
  |


