mixin b-time()
  .b-time.section-default
    .container
      .b-time__total 159,59,30
      .row.justify-content-between
        .col-md-auto
          .b-time__title часов в неделю
        .col-xl-5.col-md-7
          .b-time__info Полный комплекс услуг, позволяющий крупным e-commerce проектам увеличивать свой объем бизнеса и повышать качество






  // end .b-time


