mixin navig()
  ul.main-menu.navbar-nav.list-num
    li.main-menu__item
      a.main-menu__link(href="#") Кейсы
        span.sr-only (текущая)
    li.main-menu__item
      a.main-menu__link(href="#") Команда
    li.main-menu__item
      a.main-menu__link(href="#") Клиенты

  // end .navig
  |
  |
