mixin b-vacancy-item()
  article.b-vacancy-f
    .container
      h1.ui-title Backend-разработчик
        span.text-primary  {Bitrix}
      .b-vacancy-f__note Зарплата по итогам собеседования
      ul.ui-tag-list-2.list-unstyled
        li.ui-tag-list-2__item 1c-bitrix
        li.ui-tag-list-2__item shop-script
        li.ui-tag-list-2__item prestashop
        li.ui-tag-list-2__item oscommerc
        li.ui-tag-list-2__item yandex.money
        li.ui-tag-list-2__item boxberry
        li.ui-tag-list-2__item.ui-tag-list-2__item_dots

      .b-vacancy-f__descrip
        .b-vacancy-f__descrip-item
          .b-vacancy-f__descrip-info Full-Time
          .b-vacancy-f__descrip-label формат
        .b-vacancy-f__descrip-item
          a.b-vacancy-f__descrip-info(href="#") Уфа, респ. Башкортостан
          .b-vacancy-f__descrip-label ссылка на сайт
        .b-vacancy-f__descrip-item
          a.b-vacancy-f__descrip-info(href="mailto:hello@kr-mail.ru") hello@kr-mail.ru
          .b-vacancy-f__descrip-label напишите нам



      .row
        .col-xl-8
          section.b-vacancy-f__section
            h2.ui-title-inner Что делать
            ul.ui-list
              li Мелкие корректировки в текущих проектах;
              li Проектирование архитектурых приложений;
              li Проектирование интеграционных механизмов;
              li Разработка (программирование) сложных модулей систем;
              li Инициатива и внедрение новых технологий на проектах

          section.b-vacancy-f__section
            h2.ui-title-inner Наши требования
            ul.ui-list
              li Опыт разработки проектов на LAMP-стеке;
              li Глубокое понимание PHP/JavaScript/jQuery;
              li Знание MySQL, способность различать типы индексов, строить join-запросы;
              li Опыт работы с eCommerce;
              li Иметь навыки работы с Git;
              li Английский на уровне intermediate;
              li Умение разбираться в чужом коде;
              li Ответственность и внимание к мелочам;
              li Желание работать в сплоченной команде профессионалов;
              li Умение самостоятельно решать любые технические задачи;
              li Понимание всего процесса запуска веб приложений, от покупки домена до настройки сервера и разработки backend и frontend модулей;
              li Желание стать профессиональным и сильным специалистом;

          section.b-vacancy-f__section
            h2.ui-title-inner Мы используем (технологии и языки)
            ul.ui-list
              li PHP, Opcache, Cookies, Sessions
              li .htaccess
              li javascript, jQuery, Ajax
              li HTML, CSS, SASS, Compass
              li Git, source tree
              li Schema markup
              li MySQL, SQL, adminer
              li variety of APIs:.

          section.b-vacancy-f__section
            h2.ui-title-inner Условия работы
            ul.ui-list
              li Зарплата в канадских долларах;
              li Удалённая работа 5/2;
              li Потенциал к развитию и росту;
              li Испытательный срок — 1 месяц;
              li Работа в самом быстро растущем сегменте — e-commerce!

        aside.col-xl-4.mt-5.mt-xl-0
          blockquote.ui-blockquote
            p Клиент хотел, чтобы у постоянных розничных покупателей действовали прежние скидки (но уровень больше не повышался) и была возможность перехода на новую систему бонусов. А все новые покупатели просто должны подключаться к бонусной программе автоматически.
            footer.ui-blockquote__footer.row.no-gutters.align-items-center
              .col-auto
                img.ui-blockquote__face.img-scale(src="assets/media/content/face/1.jpg", alt="фото")
              .col
                span.ui-blockquote__title Георгий Петров
                span.ui-blockquote__category CO FOUNDER


  // end .b-vacancy-f
  |
  |


