mixin b-case-item()
  article.b-case-f
    .container
      header.b-case-f-header
        .row
          h1.ui-title.col-xl-10
            span.text-primary Ускорили фильтр каталога
            |  для крупнейшего интернет магазина печей
        .row
          .b-case-f-header__item.col-md-6
            a.b-case-f-header__link(href="#") Интернет магазин Печи.ру
            .b-case-f-header__label Клиент
          .b-case-f-header__item.col-md-6
            a.b-case-f-header__link(href="#") печь.ру
              != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
            .b-case-f-header__label ссылка на сайт
    .b-case-f__img-main
      img.img-scale(src="assets/media/content/b-case-f/1.jpg", alt="фото")

    .container
      section.b-case-f__section
        h2.ui-title-inner В проекте
          span.text-primary  использовали
        ul.ui-tag-list.list-unstyled
          li.ui-tag-list__item 1c-bitrix
          li.ui-tag-list__item shop-script
          li.ui-tag-list__item prestashop
          li.ui-tag-list__item magento
          li.ui-tag-list__item cs-cart
          li.ui-tag-list__item opencart
          li.ui-tag-list__item x-cart
          li.ui-tag-list__item oscommerc
          li.ui-tag-list__item joomla virtuemart
          li.ui-tag-list__item zend framework
          li.ui-tag-list__item php, asp frameworks

      section.b-case-f__section
        h2.ui-title-inner Клиент пришел
          span.text-primary  с проблемой
        .row
          .col-xl-8
            p Онлайн-магазин косметики решил перейти с прежней накопительной системы скидок для постоянных клиентов на новую бонусную и интегрировать ее с программой «1С:бухгалтерия». Действующая система накопительных поощрений рассчитывала 5 уровней скидок в зависимости от объема покупок отдельно для розничных и оптовых клиентов. Из 211 237 покупателей 31 965 пользовались накопительными скидками.
            p Клиент хотел, чтобы у постоянных розничных покупателей действовали прежние скидки (но уровень больше не повышался) и была возможность перехода на новую систему бонусов. А все новые покупатели просто должны подключаться к бонусной программе автоматически.

          .col-xl-4
            blockquote.ui-blockquote
              p Клиент хотел, чтобы у постоянных розничных покупателей действовали прежние скидки (но уровень больше не повышался) и была возможность перехода на новую систему бонусов. А все новые покупатели просто должны подключаться к бонусной программе автоматически.
              footer.ui-blockquote__footer.row.no-gutters.align-items-center
                .col-auto
                  img.ui-blockquote__face.img-scale(src="assets/media/content/face/1.jpg", alt="фото")
                .col
                  span.ui-blockquote__title Георгий Петров
                  span.ui-blockquote__category CO FOUNDER

        figure.b-case-f__figure.ui-figure
          a.b-case-f__figure-link(href="https://www.pech.ru/" target="_blank")
            .b-case-f__img(style="background-image: url(assets/media/content/b-case-f/2.jpg)")
          .row
            .col-lg-6.offset-lg-1
              figcaption.ui-figure__caption.pl-5 Все новые покупатели просто должны подключаться к бонусной программе автоматически.


      section.b-case-f__section
        .row.pl-sm-5
          .col-lg-10.offset-lg-1
            h2.ui-title-inner Всегда есть
              span.text-primary  особенности
            p Действовавшая накопительная программа работала на базе встроенного CMS модуля, по которому не было документации. Накопленная у клиента скидка нигде не отражалась, и отключить ее действие, оставив накопления покупателя на прежнем уровне, было невозможно.
            p Количество бонусов за товар, параметры начисления, списание бонусов – все должно управляться через 1С. И играющий второстепенную роль сайт тоже должен иметь доступ к начислению бонусов, не дожидаясь отклика от 1с, и не нарушая целостность бонусной системы.

        figure.ui-figure
          img.ui-figure__img.img-fluid(src="assets/media/content/b-case-f/3.jpg" alt="фото")
          .row
            .col-lg-6.offset-lg-1
              figcaption.ui-figure__caption.pl-5 Все новые покупатели просто должны подключаться к бонусной программе автоматически.


      section.b-case-f__section
        .row.pl-sm-5
          .col-lg-10.offset-lg-1
            h2.ui-title-inner Как
              span.text-primary  мы это сделали
            p Мы собрали все возможные параметры квартир и разбили их по группам, определив категории для разработки фильтров которыми сможет оперировать пользователь. Всего получилось 150 параметров и 8 групп. Система разрабатывалась так, чтобы в любой момент можно было добавить новый параметр выбора.
            p Для каждого параметра мы выбрали 3 весовых коэффициента. Максимум – если система сочтет параметр важным для клиента (те, которые он сам выбрал в фильтре), средний вес – для зависимых от выбранных параметров, минимум – для всех остальных.
            p Мы использовали поисковый движок Apache Solr, который позволяет быстро выполнять операции в больших базах данных. Кроме того, он передает функции в качестве полей для выборки и сортировки. В результате тесты по работе движка по выборке на примере 15000 квартир для различных наборов фильтров показали скорость выдачи в пределах 120-150 мс.

      .b-case-f__lead
        .ui-label В результате
        .lead
          span.text-primary Клиент получил
          |  супер-быстрый фильтр каталога который формирует выборку по наиболее важным параметрам менее чем за 1 сек. А мы получили еще одного довольного клиента!


  // end .b-case-f
  |
  |


