mixin b-clients()
  .b-clients-group
    .b-clients
      .b-clients__header
        span.b-clients__label 218 задач
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients1" aria-expanded="false" aria-controls="collapseClients1")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner Интернет магазин
            span.text-primary  Печь.ру
        .b-clients__date Работаем вместе с 2016 г.

      .b-clients__body.collapse#collapseClients1
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка кастомного функционала
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка MVP 1.0
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами

      .b-clients__footer
        a.b-clients__link(href="печи.ру" target="_blank") печи.ру
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="печи.ру" target="_blank") онлайн-печь.рф
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="печи.ру" target="_blank") печка-шоп.ру
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info сайты клиента


    .b-clients
      .b-clients__header
        span.b-clients__label 32 задачи
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients2" aria-expanded="false" aria-controls="collapseClients2")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner
            span.text-primary Чип-тюнинг
            |  автомобиля в Перми
        .b-clients__date Работаем вместе с 2013 г.

      .b-clients__body.collapse#collapseClients2
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка кастомного функционала
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка MVP 1.0
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами

      .b-clients__footer
        a.b-clients__link(href="печи.ру" target="_blank") chiptuning.ru
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info сайты клиента


    .b-clients
      .b-clients__header
        span.b-clients__label 218 задач
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients3" aria-expanded="false" aria-controls="collapseClients3")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner Электронное образование
            span.text-primary  РБ
        .b-clients__date Работаем вместе с 2016 г.

      .b-clients__body.collapse#collapseClients3
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка кастомного функционала
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка MVP 1.0
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами

      .b-clients__footer
        a.b-clients__link(href="печи.ру" target="_blank") печи.ру
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="печи.ру" target="_blank") онлайн-печь.рф
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-clients__link(href="печи.ру" target="_blank") печка-шоп.ру
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info сайты клиента


    .b-clients
      .b-clients__header
        span.b-clients__label 32 задачи
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients4" aria-expanded="false" aria-controls="collapseClients4")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner
            span.text-primary Чип-тюнинг
            |  автомобиля в Перми
        .b-clients__date Работаем вместе с 2013 г.

      .b-clients__body.collapse#collapseClients4
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка кастомного функционала
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка MVP 1.0
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами

      .b-clients__footer
        a.b-clients__link(href="печи.ру" target="_blank") chiptuning.ru
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info сайты клиента


    .b-clients
      .b-clients__header
        span.b-clients__label 32 задачи
        button.b-clients__trigger(type="button" data-toggle="collapse" data-target="#collapseClients5" aria-expanded="false" aria-controls="collapseClients5")
          != pugHelpers.Icon.call(locals, {iconName: 'arrow-down', className: 'ic', iconWidth: '21.78', iconHeight: '11.08'})
          .b-clients__title.ui-title-inner
            span.text-primary Чип-тюнинг
            |  автомобиля в Перми
        .b-clients__date Работаем вместе с 2013 г.

      .b-clients__body.collapse#collapseClients5
        ul.b-clients-list.list-unstyled.row
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка кастомного функционала
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Разработка MVP 1.0
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Подключение модулей доставки и оплаты
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с CRM системой
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами
          li.b-clients-list__item.col-md-6
            .b-clients-list__inner Интеграция с маркетинговыми платформами

      .b-clients__footer
        a.b-clients__link(href="печи.ру" target="_blank") chiptuning.ru
          != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '16', iconHeight: '16'})

        .b-clients__info сайты клиента

  button.btn-link(type="button") Показать еще

  // end .b-clients
  |
  |


