extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Страницы
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Главная
          li
            a.text-success(href="team.html" target="_blank") Команда
          li
            a.text-success(href="clients.html" target="_blank") Клиенты
          li
            a.text-success(href="case.html" target="_blank") Кейсы
          li
            a.text-success(href="case-item.html" target="_blank") Кейс детальный
          li
            a.text-success(href="vacancy.html" target="_blank") Вакансия

  .page__buffer
