extends _template.pug

include ../components/b-clients/b-clients




block head
  head
    +head(head.team)


  - var pageInner = true;
  - var bgGray = true


block header
  +header()


block content
  .l-main
    .container-fluid
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Главная
          li.breadcrumb-item.active(aria-current="page") Клиенты
    // end .container



    main.l-main-content

      section.section-area
        .container
          h1.ui-title Клиенты
          +b-clients()
