mixin footer()
  footer.footer.bg-dark
    .container-fluid
      .row.align-items-center
        .footer__col.col-xl-6
          .footer__main
            .ui-label мы на связи
            .footer__title Всегда готовы<br>к обсуждению<br>
              span.footer__title_emphasis.text-primary  новых проектов

        .footer__col.col-xl-6
          .footer-contacts
            .footer-contacts-wrap
              .spinner
                != pugHelpers.Icon.call(locals, {iconName: 'ellipse', className: 'ic', iconWidth: '128', iconHeight: '128'})

              .footer-contacts__item.active.js-slider-contacts
                .footer-contacts__main
                  .footer-contacts__name.js-contacts-trigger Дмитрий Петров
                  .footer-contacts__info
                    a.footer-contacts__link(href="tel:+73472629084") +7 (347) 262-90-84
                  .footer-contacts__info
                    a.footer-contacts__link(href="mailto:gp@kr-mail.ru") gp@kr-mail.ru
                .footer-contacts__img.js-contacts-trigger
                  img.img-scale(src="assets/media/general/footer/face-1.jpg", alt="фото")

              .footer-contacts__item.js-slider-contacts
                .footer-contacts__main
                  .footer-contacts__name.js-contacts-trigger Георгий Петров
                  .footer-contacts__info
                    a.footer-contacts__link(href="tel:+73472629084") +7 (347) 262-90-84
                  .footer-contacts__info
                    a.footer-contacts__link(href="mailto:gp@kr-mail.ru") gp@kr-mail.ru
                .footer-contacts__img.js-contacts-trigger
                  img.img-scale(src="assets/media/general/footer/face-1.jpg", alt="фото")

            .footer-contacts-nav
              .footer-contacts-nav__item.footer-contacts-nav__item_prev.js-contacts-arr
              .footer-contacts-nav__item.footer-contacts-nav__item_next.js-contacts-arr




      ul.footer-nav.list-unstyled
        li.footer-nav__item
          a.footer-nav__link.ui-category(href="#") Кейсы
        li.footer-nav__item
          a.footer-nav__link.ui-category(href="#") Команда
        li.footer-nav__item
          a.footer-nav__link.ui-category(href="#") Клиенты


      .copyright.row.justify-content-between
        .col.copyright__item © Красивое Решение 2019
        .col-auto.copyright__item Дизайн и проектирование
          |
          |
          a(href="#") Вебпространство

  // .footer


