include ../navig/navig

mixin header(breadcrumb)

  header.header(class!=attributes.class)
    .container-fluid
      .header__top
        .row.justify-content-between.align-items-center
          .col
            a.header__logo(href="#")
              img(src="assets/media/general/logo.svg", alt="KP")
          .col-auto
            button.header__link.d-none.d-md-inline-block(type="button" data-toggle="modal" data-target="#stagesModal") Обсудить задачу
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
              span.navbar-toggler-icon
              span.navbar-toggler-icon

    nav.header__nav.navbar.collapse#navbarSupportedContent
      .container
        .row.w-100.align-items-md-end
          .col-sm-6
            +navig()
          .col-sm-6.order-md-first
            .header-contact
              .header-contact__item
                a.header-contact__link(href="tel:+88002003590") +8 (800) 200-3590
                .header-contact__title Телефон для связи
              .header-contact__item
                a.header-contact__link(href="mailto:hello@kr-mail.ru") hello@kr-mail.ru
                .header-contact__title Эл.почта
              .header-contact__item.d-block.d-md-none
                a.header-contact__link(href="#") Обсудить задачу
                .header-contact__title напишите нам


  // end .header
  |
  |
